* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000000;
  max-width: 22rem;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* calculator-content */
.container {
  background-color: #f2f2f2;
  max-height: 641px;
  padding: 0.5rem;
}

/* equalto-button */
#equals {
  background-color: #92caf5;
}

#equals:hover {
  background-color: #dbdee0;
}


/* make numbers bold */
.bold-text {
  font-weight: 700;
}

.function-img {
  height: 1.375rem;
  width: 1.475rem;
}

#ruler-img {
  height: 1.375rem;
  width: 1.465rem;
}

.drop-down {
  height: 1.875rem;
  width: 1.875rem;
}

/* display-area */
.display {
  display: inline-block;
  background-color: #f2f2f2;
  width: 98%;
  height: 5.7rem;
  text-align: right;
}

#screen {
  display: inline-block;
  font-size: 25px;
  outline: none;
  text-align: right;
  border: none;
  background-color: #f2f2f2;
}

/* calculator-button */
button {
  border: none;
}

button:hover {
  cursor: pointer;
}

/* function and trignometery buttons */
.function-row {
  display: grid;
  grid-template-columns: repeat(5, 70px);
}

.calculator-btn {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(7, 50px);
  margin-top: 0.55em;
}

.f-btn {
  display: flex;
  align-items: center;
  margin-left: 1.55em;
  width: 90px;
  margin-top: 0.5em;
  gap: 0.2em;
}

.trignometry {
  grid-column: 1/3;
}

.f-btn1 {
  display: flex;
  align-items: center;
  margin-left: 1.55em;
  width: 90px;
  margin-top: 0.5em;
  gap: 0.2em;
}

.function {
  grid-column: 3/5;

}

.btn {
  cursor: pointer;
}

.num {
  background-color: #f8f8f8;
}

button:hover {
  background: #d6d6d6;
}

.degree-row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

#backspace {
  width: 20px;
  height: 20px;
}

.degree-row .d-btn {
  font-weight: 500;
  height: 2.5rem;
  border: none;
}

.memory {
  font-weight: 500;
  height: 2.5rem;
  border: none;
}

.m-color {
  color: rgb(150, 146, 146);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  list-style: none;
  overflow: hidden;
}

.dropdown-content li {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.f-btn:hover {
  background-color: #f0f0f0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.f-btn:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.f-btn1:hover .dropdown-content {
  display: block;
}

.drop-down {
  height: 26px;
}

/* History container styles */
.history-container {
  display: none;
  background-color: #f1f1f1;
  border-radius: 5px;
}


.history-container.show {
  display: block;
}

#historyList {
  max-height: 40px;
  overflow-y: auto;
  margin-top: 10px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

#history-btn {
  padding: 7px;
  border: none;
  cursor: pointer;
  margin-right: auto;
}

#toggleHistoryButton:hover {
  background-color: #b7c7b7;
}